@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("assets/fonts/Inter-Black.ttf");
  font-family: "Inter";
  font-weight: 900;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("assets/fonts/JockeyOne-Regular.ttf");
  font-family: "Jockey One";
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("assets/fonts/Inter-Medium.ttf");
  font-family: "Inter";
  font-weight: 500;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("assets/fonts/Inter-SemiBold.ttf");
  font-family: "Inter";
  font-weight: 600;
}

:root {
  --teal_400: #1ca883;
  --deep_orange_50: #f8f0e5;
  --gray_400: #c3c3c3;
  --blue_gray_100: #d9d9d9;
  --gray_500: #979898;
  --black_900: #000000;
  --blue_gray_100_01: #cbcbcb;
  --blue_gray_100_02: #d3d3d3;
  --blue_gray_900_01: #122541;
  --blue_gray_900: #102c57;
  --white_A700: #ffffff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}