:root { 
--teal_400:#1ca883; 
--deep_orange_50:#f8f0e5; 
--gray_400:#dac0a3; 
--blue_gray_100:#d9d9d9; 
--gray_500:#979898; 
--black_900:#000000; 
--gray_400_01:#c3c3c3; 
--blue_gray_100_01:#cbcbcb; 
--blue_gray_100_02:#d3d3d3; 
--blue_gray_900_01:#122541; 
--blue_gray_900:#102c57; 
--white_A700:#ffffff; 
}